@* @model MomoExecuteResponseModel *@

@* @{ *@
@* 	ViewData["Title"] = "Kết quả thanh toán thành công"; *@
@* } *@

@* <h5>Thanh toán Momo thành công với: </h5> *@
@* <p>OrderId: @Model.orderId</p> *@
@* <p>Thông tin đơn hàng: @Model.OrderInfo</p> *@
@* <p>Số tiền: @Model.amount</p> *@
@* <5>Xem <a asp-controller="Account" asp-action="History">Lịch sử đặt hàng</a></5> *@