@{
    ViewData["Title"] = "Trang không tìm thấy 404";
}



    <div class="container" style="text-align: center; margin-top:10%; margin-bottom: 10%">
        <h1>404</h1>
        <h2>Oops! Trang không tìm thấy</h2>
        <p>Rất tiếc, có vẻ như chúng tôi đã lạc đường. Trang bạn đang tìm kiếm không tồn tại hoặc đã bị di chuyển.</p>
        <a href="/" class="btn btn-success">Quay về trang chủ</a>
    </div>