@{
    ViewData["title"] = "Trang chủ quản lý";
}
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <h5>Thống kê số lượng</h5>
            <ul>
                <li>Tổng đơn hàng : @ViewBag.CountProduct</li>
                <li>Tổng sản phẩm : @ViewBag.CountProduct</li>
                <li>Tổng danh mục sản phẩm : @ViewBag.CountCategory</li>
                <li>Tổng khách hàng : @ViewBag.CountUser</li>
            </ul>
        </div>
        <div class="col-md-12">

            <h5>Thống kê bán hàng</h5>
            <div class="row">
                <div class="col-md-4">
                    <p>Lọc theo ngày tháng</p>
                    <form>
                        Ngày:

                        <input type="text" class="form-control" id="datepicker">
                        <button type="button" class="btn btn-primary btn-filter-date">Lọc theo ngày</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <p>Lọc theo</p>
                    <p>
                        <select class="form-control filter-date">
                            <option value="last_month">Tháng trước</option>
                            <option value="this_month">Tháng này</option>
                            <option value="all_year">Cả năm</option>
                        </select>
                    </p>
                </div>
            </div>

            <div id="myfirstchart" style="height: 250px;"></div>
        </div>
    </div>
</div>
