<div class="left-sidebar">
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:categories></vc:categories>
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<vc:brands></vc:brands>
	</div><!--/brands_products-->
</div>