@model ProductModel
@{
	ViewData["title"] = "Cập nhật sản phẩm";
}

<h4>Tạo sản phẩm</h4>
<div class="col-md-9">
	<form asp-action="Edit" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Tên sản phẩm:	</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Giá sản phẩm:	</label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Giá vốn:	</label>
			<input asp-for="CapitalPrice" pattern="[0-9.,]+" class="form-control typing-price" />
			<span id="price-convert"></span>
			<span asp-validation-for="CapitalPrice" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Mô tả sản phẩm:	</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Danh mục sản phẩm:	</label>
			<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
				<option>--Chọn danh mục sản phẩm</option>
			</select>
			<span asp-validation-for="CategoryId" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Thương hiệu sản phẩm:	</label>
			<select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
				<option>--Chọn thương hiệu sản phẩm</option>
			</select>
			<span asp-validation-for="BrandId" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Hình ảnh sản phẩm:	</label>
			<input asp-for="ImageUpload" class="form-control-file" />
			<span asp-validation-for="ImageUpload" class="text-danger" />
			<img src="~/media/products/@Model.Image" width="100" height="80" />
		</div>
		<div class="form-group">
			<button class="btn btn-success btn-priamry">Cập nhật sản phẩm...</button>
		</div>
	</form>
	<a asp-action="Index">Quay trở lại trang trước</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace( 'Description');
	</script>
}
