@model ContactModel
@{
	ViewData["title"] = "Trang thông tin liên hệ";
}

<h4>Chỉnh sửa thông tin</h4>
<div class="col-md-9">
	<form asp-action="Edit" asp-controller="Contact" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Tên:	</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Email:	</label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Số điện thoại:	</label>
			<input asp-for="Phone" class="form-control" />
			<span asp-validation-for="Phone" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Map:	</label>
			<textarea asp-for="Map" class="form-control"></textarea>
			<span asp-validation-for="Map" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Mô tả sản phẩm:	</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Hình ảnh sản phẩm:	</label>
			<input asp-for="ImageUpload" class="form-control-file" />
			<span asp-validation-for="ImageUpload" class="text-danger" />
			<img src="~/media/products/@Model.LogoImage" width="100" height="80" />
		</div>
		<div class="form-group">
			<button class="btn btn-success btn-priamry">Cập nhật...</button>
		</div>
	</form>
	<a asp-action="Index">Quay trở lại trang trước</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace( 'Description');
	</script>
}
